#country-continent {
    grid-row: 6/auto;
    grid-column: 2/7;
}

/* Container that holds all continent tables */
.grid-continent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 20px;
    margin: 20px;
}

/* Style for each continent table */
.grid-continent-item {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    display: block;
}

/* Remove default padding and spacing */
.grid-continent-item td, .grid-continent-item th {
    padding: 0;
    border-spacing: 0;
    margin: 0;
}

/* Style for the continent name row */
.grid-continent-item .continent-name {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

/* Style for each country row */
.grid-continent-item .cell {
    border: 1px solid white;
    background-color: transparent;
    padding: 5px;
    text-align: center;
}


/* Optional: Specific colors for continent names */
.continent-name#africa {
    background-color: #EF0D0D;
    color: #fff;
    border-color: #EF0D0D !important;
}

#empty-space {
    user-select: none;
    color: transparent;
    padding: 5px;
    visibility: hidden;
}

.continent-name#north_america {
    background-color: #EF790D;
    color: #fff;
    border-color: #EF790D !important;
}

.continent-name#south_america {
    background-color: #15B42F;
    color: #fff;
    border-color: #15B42F !important;
}

.continent-name#asia {
    background-color: #A60DEF;
    color: #fff;
    border-color: #A60DEF !important;
}

.continent-name#oceania {
    background-color: #D0B111;
    color: #fff;
    border-color: #D0B111 !important;
}

.continent-name#europe {
    background-color: #0D75EF;
    color: #fff;
    border-color: #0D75EF !important;
}

/* Cell styles for special cases */
#country-continent-name-container .found {
    color: #66FF66;
}

#country-continent-name-container .missed {
    color: #FF6666;
}

/* Optional: Hide cells with specific class if needed */
#country-continent-name-container .invisible {
    color: rgba(0, 0, 0, 0);
    user-select: none;
}
