/* style.css */
* {
    font-family: Arial, Helvetica, monospace;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    text-decoration-skip-ink: none;
}

/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 500;
    color: #363d44;
    background-color: #000;
}

/* Debug Outlines */
.debug-outline * {
    outline: 1px solid white;
}

.debug-outline button {
    outline: 2px solid red;
}

.debug-outline div {
    outline: 1px solid blue;
}

.debug-outline p {
    outline: 1px solid green;
}

.debug-outline h1,
.debug-outline h2,
.debug-outline h3 {
    outline: 1px solid orange;
}

/* Global styles for specific elements */

/* Grid Parameters */

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fit, 125px); /* Adjust rows as needed */
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    min-height: 85px;
    max-height: 125px;
    text-align: center;
    padding: 20px;
    /*border: 2px solid white; !*Border for isVisible*!*/
}
.grid-item.button{
    grid-column: 1/span 2;
}

/* Title section */
#title {
    grid-row: 1;
    grid-column: 3/span 3;
}

#back {
    grid-row: 1;
    grid-column: 1/span 2;
    font-size: 36px;
    color: white;
    background-color: #000;
    cursor: pointer;
}

/* Heading styles */
h1,
h2 {
    color: #fff;
}

/* Button styling */
.button {
    min-width: fit-content;
    background-color: rgba(39, 39, 39, 0.32);
    border: 2px solid #f0f0f0;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    height: 80px;
    margin: 10px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
}

.transparent-box {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    border: 2px solid white; /* Combine border color, style, and width */
    color: white;
    border-radius: 10px; /* Rounded corners */
}


/*Flags*/
.grid-item-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    max-height: calc(4 * 100px + 3 * 10px); /* Adjust based on your design */
    overflow-y: auto;
    padding: 10px;
    align-items: center;
}

#item-list {
    grid-row: 2 / span 4;
    grid-column: 6 / span 2;
}

/* Style for SVG images */
.grid-item-list-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: outline 0.3s ease; /* Smooth transition for outline */
    outline:3px solid transparent;
}

/* Style for the selected image */
.grid-item-list-container img.selected {
    outline: 3px solid #08f; /* Blue outline for the selected image */
}

footer#footer{
    grid-column: 1/ -1;
}
