/* Global styles */
* {
    font-family: Arial, Helvetica, monospace;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    text-decoration-skip-ink: none;
}

/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 500;
    color: #363d44;
    background-color: #000;
}

/* Debug Outlines */
.debug-outline * {
    outline: 1px solid white;
}

.debug-outline button {
    outline: 2px solid red;
}

.debug-outline div {
    outline: 1px solid blue;
}

.debug-outline p {
    outline: 1px solid green;
}

.debug-outline h1,
.debug-outline h2,
.debug-outline h3 {
    outline: 1px solid orange;
}

/* Global styles for specific elements */

/* Grid Parameters */

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fit, 125px); /* Adjust rows as needed */
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    min-height: 85px;
    max-height: 125px;
    text-align: center;
    padding: 20px;
}

.grid-item.button {
    grid-column: 1 / span 2;
}



/* Titles and headings */
#title {
    grid-row: 1;
    grid-column: 3 / span 3;
}

#back {
    grid-row: 1;
    grid-column: 1/span 2;
    font-size: 36px;
    color: white;
    background-color: #000;
    cursor: pointer;
}

/* Heading styles */
h1,
h2 {
    color: #fff;
}

/* Button styling */
.button {
    min-width: fit-content;
    background-color: rgba(39, 39, 39, 0.32);
    border: 2px solid #f0f0f0;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    height: 80px;
    margin: 10px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
}

.transparent-box {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    border: 2px solid white; /* Combine border color, style, and width */
    color: white;
    border-radius: 10px; /* Rounded corners */
}


/*Flags*/
.grid-item-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    max-height: calc(4 * 100px + 3 * 10px);
    overflow-y: auto;
    padding: 10px;
    align-items: center;
}

#item-list {
    grid-row: 2 / span 4;
    grid-column: 6 / span 2;
}

/* Style for SVG images */
.grid-item-list-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    cursor: pointer;
    transition: outline 0.3s ease;
    outline: 3px solid transparent;
}

.grid-item-list-container img.selected {
    outline: 3px solid #08f;
}

footer#footer {
    grid-column: 1 / -1;
}

/* Settings Box */
#settings-box {
    width: 100%;
    max-height: fit-content;
    grid-row: 2/auto;
    grid-column: 3/6;
    padding: 0;
    aspect-ratio: 1;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-template-columns: 1fr 1fr;
}

#settings-box p {
    font-size: 16px;
    margin: auto;

    grid-column: 1;
    padding: 5px 20px 10px;
    max-height: fit-content;
    min-height: fit-content;
}

#language-selector {
    font-size: 16px;
    grid-column: 2;
    margin: auto;
    padding: 5px 20px 10px;
    max-height: fit-content;
    min-height: fit-content;
}

#save-settings {
    margin: auto;
    grid-column: 1/span 2;
    grid-row: -2;
    max-height: fit-content;
    min-height: fit-content;
}
.highscores-container {
    width: 100%;
    max-height: fit-content;
    grid-row: 2/5;
    grid-column: 3/6;
    display: grid;
    grid-template-rows: repeat(5, 1fr); /* Adjust for title and table */
    grid-template-columns: 1fr 3fr 1fr; /* Adjust for arrows and title */
    padding: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.highscores-table {
    grid-row: 2; /* Place in the second row */
    grid-column: 2; /* Span all columns */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.game-navigation-arrows {
    grid-row: 1; /* Place in the first row */
    display: flex; /* Use flex for alignment */
    align-items: center; /* Center vertically */
}

.game-navigation-arrows.left {
    grid-column: 1; /* First column for previous game */
}

.game-navigation-arrows.right{
    grid-column: 3; /* Third column for next game */
}

.highscores-container h2 {
    grid-column: 2; /* Center the title in the second column */
    vertical-align: center;
    justify-self: center; /* Center title horizontally */
    margin: 0; /* Remove default margins */
}

.highscore-navigation-arrows {
    grid-row: 2/6; /* Place in the third row */
    display: flex; /* Use flex for alignment */
    justify-content: space-between; /* Space out buttons */
    align-items: center; /* Center vertically */
}

.highscore-navigation-arrows.left {
    grid-column: 1; /* First column for previous page */
}

.highscore-navigation-arrows.right {
    grid-column: 3; /* Third column for next page */
}

.highscores-table th,
.highscores-table td {
    padding: 12px;
    text-align: left;
}

.highscores-table td, .highscores-table th{
    color: white; /* Set text color to white */
}

.highscores-table td:first-child {
    font-weight: bold; /* Make the rank bold */
}

.highscores-table tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Lighten the background on hover */
}

/* Overlay box styles */
.overlay-box {
    width: 100%;
    height: 100%;
    max-height: 100%;
    grid-row: 2/span 4;
    grid-column: 3/span 3;
    border: 2px solid white; /* Combine border color, style, and width */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
